.form-signin {
  margin-top: 80px;
}

.form-signin-header {
  margin-bottom: 10px;
}

.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .login-div {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .password-div {
  margin-bottom: 10px;
}
