<div>
  <div class="row">
    <div class="col-md-12">
      <h2>Groepen</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-success" (click)="create()">
        <i class="fa fa-plus"></i>Nieuw
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-sm table-hover table-striped mt-1">
        <thead class="thead-inverse">
        <tr>
          <th>Omschrijving</th>
          <th>Gebruikers</th>
          <th>Permissies</th>
          <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of records">
          <td><a (click)="open(record)"><u>{{record.description}}</u></a></td>
          <td>{{record.userCount}}</td>
          <td>{{record.permissionCount}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-danger" (click)="remove(record)">wis
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
