<div>
  <div class="row">
    <div class="col-md-12">
      <h2 *ngIf="record.id != 0">Groep aanpassen</h2>
      <h2 *ngIf="record.id == 0">Groep aanmaken</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Naam</label>
        <input id="name" name="name" type="text" class="form-control"
               [(ngModel)]="record.description" (input)="changed()"/>
      </div>
    </div>
  </div>
  <div [hidden]="record.id == 0">
    <div class="row">
      <div class="col-md-6">
        <h4>Gebruikers</h4>

        <div class="alert alert-info" *ngIf="record.users.length == 0">Er zitten nog geen gebruikers in deze
          groep.
        </div>

        <table *ngIf="record.users.length > 0" class="table table-sm table-hover table-striped">
          <thead class="thead-inverse">
          <tr>
            <th>Naam</th>
            <th>Acties</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of record.users">
            <td>{{user.value}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeUser(user)">wis
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- <suggestion-input [(ngModel)]="selectedUser"
                          [list]="users" ngDefaultControl
                          [searchProperty]="'fullname'" [displayProperty]="'fullname'"
                          (suggestionSelected)="userSelected($event)"
                          placeholder="gebruiker toevoegen..."></suggestion-input> -->
      </div>

      <div class="col-md-6">
        <h4>Permissies</h4>

        <div class="alert alert-info" *ngIf="record.permissionCodes.length === 0">Er zijn nog geen permissies
          toegekend aan deze groep.
        </div>

        <table *ngIf="record.permissionCodes.length > 0" class="table table-sm table-hovered table-hover">
          <thead class="thead-inverse">
          <tr>
            <th>Code</th>
            <th>Omschrijving</th>
            <th>Acties</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let permission of record.permissionCodes">
            <td>{{permission.code}}</td>
            <td>{{permission.description}}</td>
            <td>
              <button type="button" class="btn btn-sm btn-outline-danger"
                      (click)="removePermission(permisson)">wis
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="form-group">
          <!--<label for="add-permission" class="col-md-6">Toevoegen</label>
           <suggestion-input
            id="add-permission"
            class="col-md-6"
            [(ngModel)]="selectedPermission"
            [list]="permissions"
            [searchProperty]="'code'" [displayProperty]="'code'"
            [maxSuggestions]="5"
            (suggestionSelected)="permissionSelected($event)"
            placeholder="permissie toevoegen...">
          </suggestion-input>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" (click)="cancel()" [disabled]="isSaving || !hasChanged " class="btn btn-primary">
        Annuleren
      </button>

      <button type="button" (click)="save()" [disabled]="!hasChanged || isSaving" class="btn btn-primary">
        Opslaan
      </button>
    </div>
  </div>
</div>
