$primaryColor: #009688;
$lightPrimaryColor: #B2DFDB;
$darkPrimaryColor: #00796B;
$accentColor: #607D8B;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$textColor: #FFFFFF;
$dividerColor: #BDBDBD;
$lightBackGround: #f5f5f5;

$backgroundColor: #fafbfc;
