$defaultMargin: 3px;
$defaultTextMargin: 0.5em;

$mobileMinWidth: 0px;
$mobileMaxWidth: 480px;
$tabletMinWidth: $mobileMaxWidth + 1;
$tabletMaxWidth: 1024px;

$sideBarWidth: 175px;
$topBarHeight: 40px;