<div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Maak een keuze</h4>
      </div>
      <div class="modal-body">
        <p>{{question}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="yes()">Ja</button>
        <button type="button" class="btn" (click)="no()">Nee</button>
        <button type="button" class="btn btn-primary" (click)="cancel()" data-dismiss="modal">Annuleren</button>
      </div>
    </div>
  </div>
</div>
