<div>
  <div class="row">
    <div class="col-md-12">
      <h2>Gebruikers</h2>
    </div>
  </div>
  <div clas="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <input [(ngModel)]="query" (keyup)="queryChanged()" placeholder="zoeken..."
                 autocomplete="off" class="form-control"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-sm table-hover table-striped">
        <thead class="thead-inverse">
        <tr>
          <th>Naam</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.fullname}}</td>
          <td>{{record.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
