<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form>
      <h2>Account aanmaken</h2>
      <div class="form-group"
           [ngClass]="{'has-warning': isValidating && !fullNameIsValid, 'has-success': isValidating && fullNameIsValid}">
        <label for="name">Naam</label>
        <input id="name" name="name" class="form-control form-control-success" type="text"
               [(ngModel)]="user.fullname" (keyup)="change()" autocomplete="off"/>
        <div class="form-control-feedback" [hidden]="!isValidating || fullNameIsValid">Gelieve dit veld in te
          vullen!
        </div>
      </div>
      <div class="form-group"
           [ngClass]="{'has-warning': isValidating && !emailIsValid, 'has-success': isValidating && emailIsValid}">
        <label for="email">E-mailadres</label>
        <input id="email" name="email" class="form-control form-control-success" type="email"
               [(ngModel)]="user.email" (keyup)="change()" autocomplete="off"/>
        <div class="form-control-feedback" [hidden]="!isValidating || emailIsValid">Gelieve dit veld in te
          vullen!
        </div>
      </div>
      <div class="form-group"
           [ngClass]="{'has-warning': isValidating && !passwordIsValid, 'has-success': isValidating && passwordIsValid}">
        <label for="password">Paswoord</label>
        <input id="password" name="password" type="password" class="form-control form-control-success"
               [(ngModel)]="password" (keyup)="change()" autocomplete="off"/>
        <div class="form-control-feedback" [hidden]="!isValidating || passwordIsValid">Kies een paswoord van 5
          minstens karakters!
        </div>
      </div>
      <div class="form-group"
           [ngClass]="{'has-warning': isValidating && !password2IsValid, 'has-success': isValidating && password2IsValid}">
        <label for="password2">Herhaal paswoord</label>
        <input id="password2" name="password2" type="password" class="form-control form-control-success"
               [(ngModel)]="password2" (keyup)="change()" autocomplete="off"/>
        <div class="form-control-feedback" [hidden]="!isValidating || password2IsValid">Paswoorden komen niet
          overeen!
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="create()"
              [disabled]="isValidating && !isValid">Aanmaken
      </button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
